
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 26.36rem;
}
.venta{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 86.6rem;
}


.col-1{
  width: 8.3333333333%;
}
.col-2{
  width: 16.6666666666%;
}
.col-3{
  width: 24.9999999999%;

}
.col-4{
  width: 33.3333333332%;
  text-align: start;
}
.col-5{
  width: 41.6666666666%;
  text-align: end;
}
.col-6{
  width: 49.9999999999%;
}
.col-7{
  width: 58.3333333331%;
}
.col-8{
  width: 66.6666666666%;
}
.col-9{
  width: 74.9999999999%;
}
.col-10{
  width: 83.333333333%;
}
.col-11{
  width: 91.6666666666%;
}
.col-12{
  width: 100%;
}
/* container>row>colum */

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
  padding: 1rem;
}

@media (max-width: 900px){
  .row{
    display: inherit;
  }
  .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    width: 100%;
  }
}

.container h6{
  font-size: 2.5em;
  text-align: center;
  color: var(--color1);
  padding: 1rem;
}
.container p{
  font-size: 2rem;
  text-align: center;
  color: var(--azul-luz);
  padding: 1rem;
}

#h5-productos {
  font-size: 3rem;
  text-align: center;
  color: var(--color1);
  padding: 2rem;
}

.imagen{
  width: 20rem;
  height: 20rem;
}

.modulo-pago label {
  display: flex;
justify-content: flex-start;
color: white;
font-size: 1.6rem;
padding: 1rem;
}
.modulo-pago input {
  display: flex;
  width: 100%;
  height: 3.5rem;
  font-size: 1.6rem;
  border: 0.1rem solid var(--azul-luz);
  border-radius: 1rem;
  /* box-shadow: var(--sombra); */
}
.button {
  padding: 1rem;
  margin-top: 2rem;
  width: 50%;
  font-size: 2rem;
  border-radius: 2.5rem;
  box-shadow: var(--sombra);
  background-color: var(--color1);
  border: 0;
  color: white;
}